

tr:hover {
  background-color: #afd0e3;
  cursor: pointer;
}

.activePlayerSelect {
    background-color:#afd0e3;
}

.inactivePlayerSelect {
    background-color:none;
}

.btn-primary {
    color: #fff;
    background-color: black;
}