<button hidden="true" type="button" id="mymodal" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <input [formControl]="searchTerm" id="playerNameSearch" type="text" (keyup)="filterByName($event)" class="search-query" style="width: 80%; height: 50px" />
                    <button type="button"  class="btn btn-primary" (click)="swapPlayer()">Swap</button>
                </div>

                <div class="container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Player</th>
                                <th scope="col">Name</th>
                                <th scope="col">PTS</th>
                                <th scope="col">AST</th>
                                <th scope="col">REB</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let player of activeList" (click)="setSelected($event, player)">
                                <th scope="row"><img width="50" height="60" src="{{ getPlayerImage(player) }}"/></th>
                                <td class="align-middle">{{ player.name }}</td>
                                <td class="align-middle">{{ formatData(player.averagePoints) }}</td>
                                <td class="align-middle">{{ formatData(player.averageAST) }}</td>
                                <td class="align-middle">{{ formatData(player.averageREB) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>