<div class="container">
    <a class="createTeamBtn" (click)="createTeam()"> Create Team </a>

    <h3>My Teams</h3>
    <div>

        <table class="table">
            <tbody>
                <tr (click)="viewTeamDetails($event, team)"  *ngFor="let team of myTeams">
                    <th scope="row">
                        <div style="text-align: center">
                            <img width="80" height="80" src="{{ getTeamIcon() }}"
                            />
                        </div>
                    </th>
                    <td class="align-middle">
                        <div>
                            <h4>
                                {{ team.name }}
                                <span> Rank: 1st</span>
                            </h4>
                            <span>PTS: {{ team.totalPoints }}, AST: {{ team.totalAst }}, REB: {{ team.totalReb }}</span>    
                        </div>
                    </td>
                    <td class="align-middle">
                        <div style="text-align: right" (click)="deleteTeam(team.id)">
                            <i style="font-size: 40px;" class="fa fa-times" aria-hidden="true"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>