<!-- https://bootsnipp.com/snippets/KB2bD -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container">
<a class="createTeamBtn" (click)="createTeam()"> Create Team </a>

    <h3>My Teams</h3>
    <div>
        <section class="content">
            <div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="table-container">
                            <table class="table table-filter">
                                <tbody>
                                    <tr (click)="viewTeamDetails()">
                                        <td style="text-align: center;" colspan="2">
                                            <div>
                                                <img width="60" src="https://images.vexels.com/media/users/3/156544/isolated/preview/82434b96bf5caa8eec0bcd1bcdd219b8-basketball-ball-icon-by-vexels.png"/>
                                            </div>
                                        </td>
                                        <td colspan="3">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4 class="title">
                                                        Team Name
                                                        <span class="pull-right pagado"> Rank: 1st</span>
                                                    </h4>
                                                    <span class="media-meta pull-right">PTS: 123, AST: 123, REB: 123 adfasd fasdf asdf asdf asd fasdf sadf sdf ad adsfas f asfsd fsa </span>
                                                    
                                                    <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p> 
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>

