<div *ngIf="!editMode"><button (click)="toggleEditHandler()">Edit</button></div>
<div *ngIf="editMode"><button (click)="toggleEditHandler()">Save</button></div>



<h2> {{ currentTeam.name }} </h2>
<div class="row mb-3 justify-content-center">
    <div class="col-xl-3 col-lg-1">
        <div class="card card-inverse card-success">
            <div class="card-block bg-success">
                <div class="rotate">
                    <i class="fa fa-list-ol fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Points</h6>
                <h1 class="display-1">{{ currentTeam.totalPoints }}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-1">
        <div class="card card-inverse card-info">
            <div class="card-block bg-info">
                <div class="rotate">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Assists</h6>
                <h1 class="display-1">{{ currentTeam.totalAst }}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-1">
        <div class="card card-inverse card-warning">
            <div class="card-block bg-warning">
                <div class="rotate">
                    <i class="fa fa-hand-paper-o fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Rebounds</h6>
                <h1 class="display-1">{{ currentTeam.totalReb }}</h1>
            </div>
        </div>
    </div>
</div>


<!-- Team -->

<h2> Line ups </h2>
<section id="team">
    <div class="container">

        <!-- NBA guard -->
        <div class="row justify-content-center">
            <div class="col-xs-4 col-sm-4 col-md-3" *ngFor="let player of currentTeam.guards">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip" (click)="showPlayerPicker(player.assignedPostition)">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img width="40" class=" img-fluid" src="{{ player.pic }}"
                                            alt="card image"></p>
                                    <h4 class="card-title">{{ player.name }}</h4>
                                    <h6 class="card-title">{{ player.assignedPostition }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-6">
                                    <h4 class="card-title">Player Stats</h4>
                                    <table class="table">

                                        <tbody>
                                            <tr>
                                                <th scope="row">PTS:</th>
                                                <td class="align-middle">{{ player.averagePoints}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">AST:</th>
                                                <td class="align-middle">{{ player.averageAST}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">REB:</th>
                                                <td class="align-middle">{{ player.averageREB}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- NBA Bigs -->
        <div class="row justify-content-center">
            <div class="col-xs-4 col-sm-4 col-md-3" *ngFor="let player of currentTeam.forwards">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip" (click)="showPlayerPicker(player.assignedPostition)">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img width="40" class="img-fluid" src="{{ player.pic }}"
                                            alt="card image"></p>
                                    <h4 class="card-title">{{ player.name }}</h4>
                                    <h6 class="card-title">{{ player.assignedPostition }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-6">
                                    <h4 class="card-title">Player Stats</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row">PTS:</th>
                                                <td class="align-middle">{{ player.averagePoints}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">AST:</th>
                                                <td class="align-middle">{{ player.averageAST}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">REB:</th>
                                                <td class="align-middle">{{ player.averageREB}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-player-picker #playerPicker></app-player-picker>