<h2> Team Points </h2>
<div class="row mb-3 justify-content-center">
    <div class="col-xl-3 col-lg-1">
        <div class="card card-inverse card-success">
            <div class="card-block bg-success">
                <div class="rotate">
                    <i class="fa fa-list-ol fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Points</h6>
                <h1 class="display-1">134</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-1">
        <div class="card card-inverse card-info">
            <div class="card-block bg-info">
                <div class="rotate">
                    <i class="fa fa-users fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Assists</h6>
                <h1 class="display-1">125</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-1">
        <div class="card card-inverse card-warning">
            <div class="card-block bg-warning">
                <div class="rotate">
                    <i class="fa fa-hand-paper-o fa-5x"></i>
                </div>
                <h6 class="text-uppercase">Rebounds</h6>
                <h1 class="display-1">36</h1>
            </div>
        </div>
    </div>
</div>


<!-- Team -->

<h2> Line ups </h2>
<section id="team">
    <div class="container">
        <!-- NBA guard -->
        <div class="row justify-content-center">
            <div class="col-xs-4 col-sm-4 col-md-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img width="20" class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <h6 class="card-title">PG</h6>
                                    <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-6">
                                    <h4 class="card-title">Player Stats</h4>

                                    <!-- <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- NBA Bigs -->
        <div class="row justify-content-center">
            <div class="col-xs-4 col-sm-4 col-md-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img width="20" class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png"
                                            alt="card image"></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <h6 class="card-title">PG</h6>
                                    <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p> -->
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-6">
                                    <h4 class="card-title">Player Stats</h4>
                                    <!-- <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-player-picker></app-player-picker>
