<div style="float: right" *ngIf="!editMode"><button class="btn btn-primary" type="button" (click)="toggleEditHandler()">Edit</button></div>
<div style="float: right" *ngIf="editMode"><button class="btn btn-primary" type="button" (click)="toggleEditHandler()">Save</button></div>

<!-- HTML template provided by   https://bootsnipp.com/snippets/rNQGE . (Free template))-->

<h2 *ngIf="!editMode"> {{ currentTeam.name }} </h2>
<input *ngIf="editMode" type="text" class="form-control" [formControl]="teamName" placeholder="Team Name">


<div class="row mb-3 justify-content-center">
    <div class="col-xl-3 col-lg-1 col-sm-3 col-xs-3">
        <div class="card card-inverse card-success">
            <div class="card-block bg-success">
                <h6 class="text-uppercase">Points</h6>
                <h1 class="display-1">{{ currentTeam.totalPoints }}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-1 col-sm-3 col-xs-3">
        <div class="card card-inverse card-info">
            <div class="card-block bg-info">
                <h6 class="text-uppercase">Assists</h6>
                <h1 class="display-1">{{ currentTeam.totalAst }}</h1>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-1 col-sm-3 col-xs-3">
        <div class="card card-inverse card-warning">
            <div class="card-block bg-warning">
                <h6 class="text-uppercase">Rebounds</h6>
                <h1 class="display-1">{{ currentTeam.totalReb }}</h1>
            </div>
        </div>
    </div>
</div>

<h2> Line ups </h2>
<section id="team">
    <div class="container">

        <!-- HTML template provided by  https://bootsnipp.com/snippets/92xNm . (Free template)-->
        <div class="row justify-content-center">
            <div class="col-xs-4 col-sm-4 col-md-3" *ngFor="let player of currentTeam.guards">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip" (click)="showPlayerPicker(player.assignedPosition)">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img width="10" height="15" src="{{ player.pic }}"
                                            alt="card image">
                                    <h4 class="card-title">{{ player.name }}</h4>
                                    <h6 class="card-title">{{ player.assignedPosition }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-6">
                                    <h4 class="card-title">Player Stats</h4>
                                    <table class="table">

                                        <tbody>
                                            <tr>
                                                <th scope="row">PTS:</th>
                                                <td class="align-middle">{{ player.averagePoints }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">AST:</th>
                                                <td class="align-middle">{{ player.averageAST }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">REB:</th>
                                                <td class="align-middle">{{ player.averageREB }}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- NBA Bigs -->
        <!-- HTML template provided by  https://bootsnipp.com/snippets/92xNm . MIT license-->
        <div class="row justify-content-center">
            <div class="col-xs-4 col-sm-4 col-md-3" *ngFor="let player of currentTeam.forwards">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip" (click)="showPlayerPicker(player.assignedPosition)">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img width="40" class="img-fluid" src="{{ player.pic }}"
                                            alt="card image"></p>
                                    <h4 class="card-title">{{ player.name }}</h4>
                                    <h6 class="card-title">{{ player.assignedPosition }}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-6">
                                    <h4 class="card-title">Player Stats</h4>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <th scope="row">PTS:</th>
                                                <td class="align-middle">{{ player.averagePoints}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">AST:</th>
                                                <td class="align-middle">{{ player.averageAST}}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">REB:</th>
                                                <td class="align-middle">{{ player.averageREB}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<app-player-picker #playerPicker></app-player-picker>