
<div class="container">
    <table class="table" style="text-align: center">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Team Owner</th>
                <th scope="col">Team Name</th>
                <th scope="col">Total (PTS + AST + REB)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let team of globalRanks">
                <th scope="row" class="align-middle">{{ team.rank }}</th>
                <td class="align-middle">{{ team.user }}</td>
                <td class="align-middle">{{ team.name }}</td>
                <td class="align-middle">{{ team.points }}</td>
            </tr>
        </tbody>
    </table>
</div>